
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

body {
    font-family: 'Anton SC', sans-serif;
}


header {
    background-color: #4CAF50;
    color: blanchedalmond;
    padding: 2px;
}

main {
    margin: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 30px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hidden {
    display: none;
}